@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(http://themes.googleusercontent.com/static/fonts/creteround/v3/ZCcPJiCGOzh84o2siPk48YbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

body {
  font-family: 'Crete Round', serif;
  font-size: 16px;
  font-weight: 750;
  background-color: #FFFFFF;
}

.step {
  width: 1024px;
}

.impress-enabled .step {

	margin: 0;

	opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

#slide-01 img {
  height: 15.0em;
  text-align: center;
}

#slide-01 em {
  font-size: 4.0em;
  margin: 1.0em 0 0 0;
  display: block;
  color: #888;
  text-align: center;
}
