body {
  width: 1024px;
}

.step {
 
}

.future {
  opacity: 0.80;
}

.past {
  opacity: 0.80;
}


.slide {
  width: 900px;
  height: 550px;
  padding: 100px;
  border-radius: 25px;
  background-color: #cccccc;
}

.left {
  float: left;
  width: 420px;
  border-right: solid;
}

.right {  
  float: right;
  width: 400px;
  padding-left: 30px;
}

#step-1 {
  position: relative;
}


#step-1 img {
  width: 800px;
}

#step-1 p {
  font-size: 60px;
  font-style: italic;
  color: #C5242E;
}

#step-2 {
  font-size: 45px;
}

#step-3 {
  position: relative;
  font-size: 80px;
  text-align: center;
}

#step-3 p {
  position: absolute;
  margin-top: -62px;
  top: 50%;
}

#step-4 img {
  margin: -5% 9%;
}

#step-5 img {
  margin: 5% 5%;
}

#step-6 {
  font-size: 45px;
}

#step-7 {
  font-size: 45px;
}

#step-8 {
  padding-top: 20px;
  font-size: 45px;
}

#step-9 {
  font-size: 60px;
}

#step-9 ul {
  list-style-type: none;
}

#step-10 {
  padding-top: 20px;
  font-size: 60px;
}

#step-11 {
  font-size: 60px;
}

#step-12 {
  font-size: 60px;
}

#step-13 {
  font-size: 60px;
  position: relative;
}


#step-13 img {
  width: 800px;
}

#step-13 p {
  font-size: 80px;
  color: #C5242E; 
  text-align: right;
  font-weight: bold;
}
